<script src="/script/postman/js/smtpConfig.js"></script>
<div id="overlay">
    <div class="text text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <div class="row">
    <div class="col-lg-12"><h1 class="h3 mb-0 text-gray-800">Postman Email Plugin</h1></div>
    <div class="col-lg-12"><p>Postman plugin is an email plugin tool that allows you to send and recieve emails. <br><b>Note:</b> Postman plugin is not a replacement for an email server.</p></div>
  </div>
 </div>