<script src="/script/postman/js/smtpConfig.js"></script>
<div id="overlay">
    <div class="text text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Outbound Email Configuration</h1>
</div>
<form role="form" method="GET" action="" ng-app="smtpConfigApp" ng-controller="smtpConfigCtrl">
  <div class="row">
    <div class="form-group col-lg-6" >
      <label for="key">Host</label>
      <input class="form-control" name="key" ng-model="data.host">
    </div>
    <div class="form-group col-lg-6" >
      <label for="value">Port</label>
      <input class="form-control" name="value" ng-model="data.port">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-6" >
      <label for="key">User</label>
      <input class="form-control" name="key" ng-model="data.user">
    </div>
    <div class="form-group col-lg-6" >
      <label for="value">Password</label>
      <input class="form-control" name="value" ng-model="data.password">
    </div>
  </div>
  <button type="button" class="btn btn-primary" ng-click="setSMTP()">Set</button>
</form>
